<!DOCTYPE html>
<html>
  <head>
    <title>ROV Facebook Live</title>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1922129071404161',
          xfbml      : true,
          version    : 'v2.10'
        });
        FB.AppEvents.logPageView();
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));


      // Only works after `FB.init` is called
      function myFacebookLogin() {
        FB.login(function(){
          var uid;
          var sid;
          var stream_url;

          // Note: The call will only work if you accept the permission request
          //FB.api('/me/feed', 'post', {message: 'Hello, world!'});


          //get user name.
          FB.api('/me', {fields: 'id'}, function(response) {
            uid=repsponse.id;
          });


          //facebook live.
          FB.api("/me/live_videos", "post",
              function (response) {
                if (response && !response.error) {
                  /* handle the result */
                  sid=response.id;
                  stream_url=response.stream_url;


                  //$("#result-div").append('<a href="http://localhost:9292/facebook_live?stream_url='+stream_url+'">點此開始直播</a>');
                  window.location = 'http://localhost:9292/facebook_live?stream_url='+stream_url.replaceAll('&','$');
                }else{
                  alert('error on get facebook live stream.');
                }
              }
          );



        }, {scope: 'publish_actions'});
      }
    </script>
  </head>

  <body>
  	<!--
    <div
      class="fb-like"
      data-share="true"
      data-width="450"
      data-show-faces="true">
    </div>
	-->

    <button onclick="myFacebookLogin()">取得FB直播權限</button>
    <div id='result-div'></div>
  </body>

</html>